html {
  min-height: 100vh;
}
body {
  margin: 0;
  min-height: 100vh;
}
.first-page {
  background-color: #ffd3d2;
  font-family: 'Press Start 2P', serif;
  text-align: center; 
  color: white;
  padding-top: 1px;
  height: 100vh;
  min-height: 770px;
}
.second-page {
  height: 100vh;
}
#first-line {
  margin: 50px 0;
  font-size: 100px;
}
#second-line {
  margin: 50px 0;
  font-size: 80px;
}
#third-line {
  margin: 70px 0;
  font-size: 60px;
}
#best-score {
  margin: 150px 0 70px 0;
  font-size: 30px
}
button {
  font-size: 20px;
  font-family: 'Press Start 2P', serif;
  padding: 15px 32px;
  color: #ffbab9;
}
.row {
  display: flex;
  height: 20%;
}
.column {
  flex: 20%;
  padding: 5px;
  margin: 10px 20px;
  position: relative;
}
.countNum {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 40px;
  text-align: center;
  position: absolute;
  top: 40%;
  font-family: monospace;
  color: #ffbab9
}
#second-page{
  height: 100vh;
  display: flex;
}
#cardsContainer{ 
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  /* border: 5px solid pink; */
  height: 95vh;
  width: 80vh;
  perspective: 1000px;
}
.memCards {
  width: calc(20% - 10px);
  height: calc(20% - 10px);
  margin: 5px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform .5s; */
}
.memCards.countCard {
  margin: auto;
  position: relative;
}
.memCards:active {
  transform:scale(.95);
}
.memCards.open{
  transform: rotateY(180deg)
}

.frontImage,
.backImage {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  backface-visibility: hidden;
}

.frontImage {
  transform: rotateY(180deg);
}

